<html>
<head>
    <link rel="stylesheet" href="/assets/css/geektutu.css">
</head>
<body>
    <h1>Custom Function Demo</h1>
    <p>Title: {{.title}}</p>
    <p>Server Time: <span class="date-text">{{.now | FormatAsDate}}</span></p>
    
    <br>
    <a href="/students">Back to Student List</a>
</body>
</html>